@{
    Layout = "_LayoutHome";
}
<section class="page-title-area" style="background-image: url('../assets/img/bnnr005.jpg') ">
    <div class="container">
        <div class="title-area-data">
            <h2>About Us</h2>
            <p>Organisations committed to ending poverty worldwide.</p>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">about us</li>
        </ol>
    </div>
</section>
<section class="gap">
    <div class="container">
        <div class="heading">
            <p>working on charity</p>
            <h2>वरिष्ठ नागरिक गृह बानापुरा</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p>
                        अभ्युदय लोक सेवा संस्थान एक समाज सेवा संस्था है जो स्ववित्त पोषित रुप से पूरे मध्यप्रदेश में स्वतंत्र रुप से सामाजिक कार्य करती है जिसमें विभिन्न सामाजिक संस्थानों का सम्मिलित करके मानव उत्थानके विकास कार्य करती है संस्थान समाज के ऐसे गंभीर मुद्दे जो संवेदनशील हैं, संस्था उन मुद्दों को आवश्य मानते हुए, मिशन स्तर पर कार्य करती है ।
                        <br>
                        <br>
                        संस्थान म.प्र. सरकार के अधिनियम 1973 के तहत् पंजीकृत संस्था है । संस्था मुख्य रुप से किसान कल्याण, संस्कृति, पर्यावरण, महिला सशक्तिकरण, रोजगार शिक्षा साहित्य, ललितकलाओं आदि क्षेत्र में सफलतापूर्वक कार्य कर रही है एवं मूकवधिरों व विकलांग, नशामुक्ति अभियान एवं बुजुर्गों (वृद्धजनों) की समय-समय पर संस्था द्वारा सेवाएँ की जा रही है।
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gap">
    <div class="container">
        <div class="heading">
            <h2>VISION AND MISSION</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <h4>Vision</h4>
                    <p>
                        संस्था का विजन युवाओं की आर्थिक स्थिति सुहढ करना व रोजगार सृजन कार्य एवं देश में बढते एकल परिवार व वृद्धजनों की वर्तमान परिस्थित एवं उनके हित के लिए शासन की योजनाओं पर कार्य करना ।
                    </p>
                    <br>
                    <h4>Mission</h4>
                    <p>
                        संस्था के प्रमुख उद्देश्यों की पूर्ति हेतु देशकाल परिस्थिति हि ऐ में प्रचार प्रसार के बदलते स्वरूप को देखते हुए कम से कम समय में शासन की योजनाओं व परियोजनाओं को जन जन तक पहुँचाने, प्रथम पंक्ति से अंतिम व्यक्ति तक योजनाओं का लाभ सभी को प्राप्त हो सके | इस हेतु निष्ठापूर्वक अपने किए गये कार्यों को प्रगति प्रदान करना ।
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Objectives</h2>
                <div class="about-text">
                    <ul class="heart mt-5">
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>युवा के लिए तकनीकि तथा व्यवसायिक स्कूल संचालित करना साथ ही सभी वर्गों के लिए आवासीय तथा गैर आवासीय स्कूल का संचालन |</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>अनाथ वृद्ध, निशकत हेतु आश्रम की स्थापना करना, गौशाला संचालित करना |</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>वन्य पशु, पक्षियों का संरक्षण करना एवं वृक्षारोपण कार्यकमों का आयोजन करना</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>अश्रमदान कार्यक्रमों के द्वारा युवकों एवं जन सामान्य में श्रम एवं सेवा की भावना पैदा करना|</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>विभिन्‍न प्रषिक्षण कार्यक्रम चलाकर युवाओं को स्वरोजगार के प्रति प्रेरित कर आत्मनिर्भर बनाना एवं राष्ट्रीय विकास की दिशा में जोड़ना</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>युवाओं में कार्यक्रमों के माध्यम से संगठन की भावना पैदा करना ग्रामीण विकास मे पूर्ण सहयोग प्रदान करना।</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>सरकार एवं अन्य संस्थाओं द्वारा विकास के लिए संचालित योजनाओं एवं कार्यक्रमों में सहयोग करना |</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>समिति बेरोजगारों का स्वरोजगार स्थापित करने हेतु त्तकनीकी एवं कम्प्यूटर शिक्षा, सिलाई, बुनाई, कढाई, पेंटिंग, व अन्य कलाकृतियों का विधिकाओं की स्थापना तथा उनके अनुरक्षण के लिए कार्य करना ।</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>युवकों को विभिन्‍न कार्यो के साथ जोड़कर उनमें चरित्र, प्रतिभा एवं आत्मविश्वास विकसित करना एवं युवाओं मे राष्ट्रीयता,धर्म निरपेक्षता, सेवा एवं सहयोग भावना का भाव जागृत करना</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>युवा शक्ति का राष्ट्रीय विकास के कार्यो से जोड़ना ।</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>विकास के संसाधनों का विकास कर जन-जन तक उनका लाभ पहुचाना |</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>विभिन्‍न कार्यक्रमों के माध्यम से जन जागृति पैदा करना।</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>खेलकूद एवं सांस्कृतिक कार्यक्रमों, प्रतियोगिताओं, प्रशिक्षणों का आयोजनों करना।</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>सामाजिक बुराईयों जैसे दहेज प्रथा, छुआछुत, नशावृत्ति आदि के विरूद्द विभिन्‍न कार्यक्रमों के माध्यम से जनमानस में चेतना जागृत करना तथा इनका विरोध करना |</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>साहित्य कला, खेलकूद से सांस्कृतिक आदि क्षेत्रों की आदि प्रतिभाओं को सम्मानित करना ताकि आने वाली पीढ़ी एवं प्रेरणा प्राप्त हो।</h6>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart pe-3"></i>
                            <h6>विभिन्‍न कार्यक्रमों वर्कशाप, शिविर, सेमिनारों, वेबिनॉर के द्वारा लोगों में साक्षरता पर्यावरण स्वास्थ्य एवं शिक्षा के क्षेत्रों में चेतना लाना।</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
