@{
    ViewData["Title"] = "Home Page";
}

<section class="slider-home-1 owl-carousel owl-theme">
    <div class="slides item" style="background-image: url(assets/img/slider004.jpg)"></div>
    <div class="slides item" style="background-image: url(assets/img/slider002.jpg)"></div>
    <div class="slides item" style="background-image: url(assets/img/slider003.jpg)"></div>
    <div class="slides item" style="background-image: url(assets/img/slider005.jpg)"></div>
</section>
<section>
    <div class="container mb-5">
        <div class="heading">
            <p>welcome to ABHYUDAYA.</p>
            <h2>वरिष्ठ नागरिक गृह बानापुरा</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-8">
                        <div class="help-man hoverimg">
                            <figure>
                                <img alt="man" class="w-100" src="assets/img/about001.jpg">
                            </figure>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="help-man hoverimg">
                            <img alt="man" class="helptwo" src="assets/img/about002.jpg">
                            <figure>
                                <img alt="man" class="w-100 mt-4" src="assets/img/about003.jpg">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-xl-5">
                <div class="help-man-data">
                    <p>
                        मूल रुप से अभ्युदय लोक सेवा संस्थान एक समाज सेवा संस्था है जो स्ववित्त पोषित रुप से पूरे मध्यप्रदेश में स्वतंत्र रुप से सामाजिक कार्य करती है जिसमें विभिन्न सामाजिक संस्थानों का सम्मिलित करके मानव उत्थानके विकास कार्य करती है संस्थान समाज के ऐसे गंभीर मुद्दे जो संवेदनशील हैं, संस्था उन मुद्दों को आवश्य मानते हुए, मिशन स्तर पर कार्य करती है ।

                    </p>
                    <p>संस्थान म.प्र. सरकार के अधिनियम 1973 के तहत् पंजीकृत संस्था है । संस्था मुख्य रुप से किसान कल्याण, संस्कृति, पर्यावरण, महिला सशक्तिकरण, रोजगार शिक्षा साहित्य, ललितकलाओं आदि क्षेत्र में सफलतापूर्वक कार्य कर रही है एवं मूकवधिरों व विकलांग, नशामुक्ति अभियान एवं बुजुर्गों (वृद्धजनों) की समय-समय पर संस्था द्वारा सेवाएँ की जा रही है।</p>
                    <a href="about.html" class="btn"><span>Learn More</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gap section-recent-causes mb-5">
    <div class="container">
        <div class="heading">
            <p>working on charity</p>
            <h2>Recent Causes</h2>
        </div>
        <div class="zoom-slider owl-carousel">
            <div class="item recent-causes">
                <img alt="recentimg" src="assets/img/cause001.jpg">
            </div>
            <div class="item recent-causes">
                <img alt="recentimg" src="assets/img/cause002.jpg">
            </div>
            <div class="item recent-causes">
                <img alt="recentimg" src="assets/img/cause003.jpg">
            </div>
            <div class="item recent-causes">
                <img alt="recentimg" src="assets/img/cause004.jpg">
            </div>
        </div>
    </div>
</section>
<section class="join-cause">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-12">
                <div class="change-we-need">
                    <div class="heading two">
                        <p>join the right cause</p>
                        <h2>VISION AND MISSION</h2>
                    </div>
                    <%--<ul class="heart">
                        <li><i class="fa-solid fa-heart pe-3"></i>Start New Campaign</li>
                        <li class="pt-3"><i class="fa-solid fa-heart pe-3"></i>How change happens</li>
                        <li class="pt-3"><i class="fa-solid fa-heart pe-3"></i>Teach your kids about giving</li>
                        <li class="pt-3"><i class="fa-solid fa-heart pe-3"></i>Make the difference</li>
                        <li class="pt-3"><i class="fa-solid fa-heart pe-3"></i>Take part in a charity run</li>
                        <li class="pt-3"><i class="fa-solid fa-heart pe-3"></i>Get involved with Decembeard</li>
                    </ul>--%>
                    <div>
                        <p>संस्था का विजन युवाओं की आर्थिक स्थिति सुहढ करना व रोजगार सृजन कार्य एवं देश में बढते एकल परिवार व वृद्धजनों की वर्तमान परिस्थित एवं उनके हित के लिए शासन की योजनाओं पर कार्य करना ।</p>
                        <p>संस्था के प्रमुख उद्देश्यों की पूर्ति हेतु देशकाल परिस्थिति हि ऐ में प्रचार प्रसार के बदलते स्वरूप को देखते हुए कम से कम समय में शासन की योजनाओं व परियोजनाओं को जन जन तक पहुँचाने, प्रथम पंक्ति से अंतिम व्यक्ति तक योजनाओं का लाभ सभी को प्राप्त हो सके | इस हेतु निष्ठापूर्वक अपने किए गये कार्यों को प्रगति प्रदान करना ।</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="row change-we-img hoverimg">
                    <div class="col-8">
                        <figure>
                            <img alt="We Need" class="w-100" src="assets/img/img001.jpg">
                        </figure>
                    </div>
                    <div class="col-4">
                        <figure>
                            <img alt="We Need" class="w-100" src="assets/img/img005.jpg">
                        </figure>
                    </div>
                    <div class="col-4">
                        <figure>
                            <img class="mt-4 w-100" alt="We Need" src="assets/img/img004.jpg">
                        </figure>
                    </div>
                    <div class="col-8">
                        <figure>
                            <img class="mt-4 w-100" alt="We Need" src="assets/img/img002.jpg">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>